@use "./scss-files/header";
@use "./scss-files/main";
@use "./scss-files/footer";

@import url(./scss-files/_header.scss);
@import url(./scss-files/_main.scss);

@font-face {
  font-family: DidotW01Font;
  src: url(../fonts/didot-italic.ttf);
}

@font-face {
  font-family: ralewayFont;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
}


