$colorGray: #BABABA;

@font-face {
  font-family: DidotW01Font;
  src: url(../fonts/didot-italic.ttf);
}

.footer {
  background-color: white;
  position: fixed;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;

  &__block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
  }

  &__prgf {
    a {
      font-family: DidotW01Font;
      font-style: italic;
      letter-spacing: 0.1em;
      color: $colorGray;
    }
  }
}